<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to 'Spectre', root_path, :class => 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
      </ul>
      <span class="navbar-text">

        <div class="btn-group">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </button>
          <div class="dropdown-menu">
            <%= link_to edit_user_registration_path, :class => 'dropdown-item' do %>
              <i class="far fa-edit"></i> Edit profile
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to destroy_user_session_path, method: :delete, :class => 'dropdown-item'   do %>
              <i class="fas fa-sign-out-alt"></i> Logout
            <% end %>
          </div>
        </div>
      </span>
    </div>
  </nav>
<% else %>
  <p class="navbar-text float-right">
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  </p>
<% end %>
