<div class="container">
  <h3>Transactions:</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Made on</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
    </tr>
    </thead>
    <tbody>
    <% if @transactions.present? %>
      <% @transactions&.each do |account| %>
        <tr>
          <td><%= account[:id] %></td>
          <td><%= account[:made_on] %></td>
          <td><%= account[:category] %></td>
          <td><%= account[:description] %></td>
          <td><%= "#{account[:amount]} #{account[:currency_code]}" %></td>
        </tr>
      <% end %>
    <% else %>
      <div class="jumbotron">
        <h4>Transactions not found</h4>
      </div>
    <% end %>
    </tbody>
  </table>
</div>