<!DOCTYPE html>
<html>
  <head>
    <title>Spectre</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/4d7ffd2d59.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/shared/header' %>
    <%= render partial: 'layouts/shared/alerts' %>
    <%= yield %>
  </body>
</html>
